.auth-container {
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -2;
}

.auth-item {
  width: 50%;
}

.auth-text {
  padding-left: 70px;
}

#existence-account {
  width: 100%;
  display: flex;
  margin-top: 20px;
  color: #333;
  font-size: 14px;
  margin-right: 10px;
  margin-left: 5px;
}

#existence-account span {
  color: #7971ea;
  cursor: pointer;
  border-bottom: 1px solid #7971ea;
  margin-left: 5px;
}

#existence-account span:hover {
  color: #6c65d3;
}

.auth-text input {
  display: none;
}

.auth-form {
  max-width: 700px;
  display: flex;
  justify-content: flex-end;
  padding-right: 70px;
}

.auth-text h2 {
  color: #fff;
  font-size: 40px;
}

.auth-text p {
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.6;
}

.auth-form h3 {
  margin: 0 0 10px;
  color: #333;
}

.auth-form form {
  box-shadow: rgba(92, 92, 92, 0.54) 2px 4px 6px 1px;
  box-sizing: border-box;
  margin: 0;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  height: 60vh;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  transition: 1s;
}

.auth-form form:hover {
  transform: translateY(-3px);
}

.authInput {
  box-sizing: border-box;
  font-size: 12px;
  border: 1px solid rgb(206, 206, 206);
  padding: 2px 10px;
  border-radius: 5px;
  width: 100%;
  height: 48px;
  margin-top: 15px;
}

.authSubmit {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  background-color: #7971ea;
  border-color: #7971ea;
  border-radius: 25px;
  margin-top: 20px;
  width: 50%;
  cursor: pointer;
}

.authSubmit:hover {
  background-color: #6c65d3;
}

#textInput {
  width: 30%;
}
