.word-card h2 {
  font-size: 30px;
  color: red;
}

.word-card {
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #333;
  cursor: pointer;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
}

.hidden span {
  visibility: hidden;
}

.meaning span {
  color: #808080;
  font-weight: 700;
}

/* .Word {
  border: 1px solid blue;
} */
