.addWordForm {
  background-color: #fff;
  border: 1px solid #333;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 20px;
  border: 1px solid #e9ecef;
}

.addWordForm h2 {
  color: #454545;
  font-size: 20px;
  padding: 0 0 20px 0;
  margin: 0;
}

.addWordInput {
  display: flex;
  align-items: center;
}

.addWordInput button {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  background-color: #7971ea;
  border-color: #7971ea;
  border: none;
  border-radius: 25px;
  height: 40px;

  cursor: pointer;
}

.addWordInput input {
  margin-right: 10px;
  box-sizing: border-box;
  font-size: 12px;
  border: 1px solid rgb(206, 206, 206);
  padding: 2px 10px;
  border-radius: 5px;
  width: 100%;
  height: 40px;
}

.addWordForm button {
  width: 20%;
  height: 36px;
  padding: 10px;
}
